.wrapper {
  width: 900px;
  padding-top: 50px;
  margin: 20px;
  border-radius: 25px;
  border: solid 1px red;
}

.title{
  font-size: 36px;
  font-family: sans-serif;

  color: rgb(244, 86, 86);
  margin-left: 75px;
  /* font-weight: bold; */
}
